/* Sass variables. */

$primary-font-color: white;
$primary-background-color: #282c34;

$table-hover-color: #373c45;

$positive-color: #4ac44f;
$negative-color: #e53935;

$iron-color: #a1958f;
$bronze-color: #b45b37;
$silver-color: #93abb4;
$gold-color: #ebb958;
$platinum-color: #51b679;
$diamond-color: #bb7ef1;
$master-color: #e34ce5;
$grandmaster-color: #e55960;
$challenger-color: #33dbe5;
